html,
body,
.wrapper {
    height: 100%;
}

body {
    background: url(../images/fishes.jpg) no-repeat top center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    overflow: hidden;
}

.wrapper {
    /*/
    / / iPhone
    /*/

    overflow: hidden;
    position: relative;
    min-height: 768px;
}

main,
.effect-dialogs {
    background: rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: 'Allura', cursive;
    font-size: 6em;
    padding-top: 0.5em;
    margin-bottom: 0;
    text-shadow: 0 0 1px black, 6px 6px 20px black;
}

h2,
p {
    font-family: 'Asul', sans-serif;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

/*
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
*/

.content-logo {
    vertical-align: middle;
    border-radius: 10px;
}

.content-paragraph {
    width: 80%;
    margin: 1em;
    vertical-align: middle;
    display: inline-block;
}

.effect-dialogs {
    position: relative;
    width: 50%;
    min-width: 250px;
    padding: 1em;
    margin: 3em auto 0;
    display: none;
    border-radius: 10px;
}

.effect-dialogs::before {
    content: '';
    position: absolute;
    top: -21px;
    left: 25%;
    width: 0;
    display: block;
    z-index: 0;
    border-width: 0 25px 20px;
    border-style: solid;
    border-color: transparent;
}

.effect-dialogs::after {
    content: '';
    position: absolute;
    top: -20px;
    left: 25%;
    width: 0;
    display: block;
    z-index: 1;
    border-width: 0 25px 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5) transparent;
}

.effect-dialogs-active {
    display: block;
}

#effect-waves {
    position: absolute;
    left: -100px;
    bottom: -50px;
}

path:first-of-type {
    -webkit-animation: waves 30s infinite alternate;
    animation: waves 30s infinite alternate;
}

path:last-of-type {
    -webkit-animation: waves 10s infinite alternate;
    animation: waves 10s infinite alternate;
}

@-webkit-keyframes waves {
    from {
        -webkit-transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(-800px, 0, 0);
    }
}

@keyframes waves {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-800px, 0, 0);
    }
}
